.*/
.Rproj.user/
rfp[1-6]/.*/
rfp[1-6]/.*
rfp6/.*
*.png
# rfp4/Mascot/
*/Mascot*/*.*
*/mascot*/*.*
*/MASCOT*/*.*
*/raw/*.*
*/MSGF*/*.*
.Rhistory
.RData
**/.*
**/*.backup
**/*.bak
**/*.rdx
**/*.rdb
**/*.RData
**/*.html
**/*.mzid
**/*.mzML
**/*.log
**/*.xls
**/*.xlsx
**/res*.csv
**/*cache*
**/*.tex